body{margin:0;font-family: 'Roboto', sans-serif;}
ul li{list-style: none;}
a{text-decoration: none; color:white}
.navWrap{display:flex; justify-content: space-between; align-items: center; background:#6a838e;}
.logoWrap{color:white; font-size: 24px; padding:8px 12px}
.logoWrap a {color:white;}
.logoIink{padding-left: 0;display: flex;}

.logoIink li{padding:8px 12px; }
.logoIink li:hover{background: #000; border-radius:2px;}
.navIcons{display: flex; padding-left: 0;}
.navIcons i{color:white; padding:8px;}

.navToggle{display:none; position:absolute; right:32px; font-size: 20px; color:#fff;}

@media screen and (max-width:720px){
	.navWrap{flex-direction: column; align-items: flex-start; padding:8px 24px}
	.logoIink{flex-direction: column; align-items: center; width: 100%;}
	.logoIink li {width: 100%; text-align: center;}
	.navIcons{justify-content: center; width:100%;}
	.navToggle{display: block;}
}


